/* Add google fonts link */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

/* Basic styling and theme for the game */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family: 'Roboto';
}

body {
    background-image: url("https://cdn.cnn.com/cnnnext/dam/assets/150101160715-south-african-flag.jpg");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

#title {
    text-align: center;
    font-size: 6rem;
}

h1 , h2 {
    font-size: 4rem;
    margin-bottom: 4rem;
    text-align: center;
}

/* This container is used throughout the project as a standard template */

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
    background-color: rgb(211, 211, 211, 0.95);
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.hidden {
    display: none;
}

/* Buttons basic structure */

.btn {
    font-size: 2.5rem;
    padding: 1.5rem 0;
    width: 30rem;
    text-align: center;
    margin-bottom: 1.5rem;
    text-decoration: none;
    background: linear-gradient(90deg, grey 0%, grey 100%);
    border-radius: 5px;
    color: black;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 darkgrey;
    transition: transform 150ms;
    transform: scale(1.1);
}

/* Container for choices under question */

.choice-container {
    display: flex;
    margin-bottom: 0.8rem;
    width: 60vw;
    border-radius: 4px;
    font-size: 3rem;
    min-width: 80rem;
    background: grey;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow:  0 0.4rem 1.4rem 0 darkgrey;
    transform: scale(1.05);
    transition: transform 100ms;
}

#question {
    font-size: 3rem;
}

.choice-prefix {
    padding: 2rem 2.5rem;
    background-color: darkgray;
    color: white;
}

.choice-text {
    padding: 2rem;
    width: 100%;
}

/* Red or green highlights for the wrong or right answer */

.correct {
    background-color: green;
}

.incorrect {
    background-color: red;
}

/* Heads up display */

#hud {
    display: flex;
    justify-content: space-around;
}

.hud-prefix {
    text-align: center;
    font-size: 2.5rem;
}

.hud-main-text {
    text-align: center;
}

/* Progress bar added to help user keep track of progress */

#progressBar {
    width: 20rem;
    height: 3rem;
    border: 0.2rem solid black;
    margin-top: 2rem;
    border-radius: 50px;
    overflow: hidden;
}

/* Fills up 25% after each question is answered */

#progressBarFull {
    height: 3.4rem;
    background: black;
    width: 0%;
}

/* Timer */

#timer {
    font-size: 3rem;
}

/* End page css */

.end-form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 30rem;
}

/* Save button to save user score and send to leaderboard */

input {
    margin-bottom: 1rem;
    width: 30rem;
    padding: 1.5rem;
    font-size: 2.5rem;
    border: none;
    box-shadow: 0 0.4rem 1.4rem 0 darkgrey;
    border-radius: 5px;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Leaderboard */

#highScoresList {
    list-style: none;
    margin-bottom: 3rem;
}

.high-score {
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

/*Media query for screens of 900px and down*/
@media screen and (max-width: 900px) {
    
    #game {
        width: 100%;
    }

    .container {
        width: 55rem;
        margin: 0 auto;
        justify-content: center;
    }

    #hud {
        justify-content: space-between;
    }
    
    .choice-container {
        min-width: 100%;
    }

    .choice-text {
        width: 90%;
    }
    
    h1 {
        font-size: 4rem;
    }

    input {
        width: 35rem;
        height: 5.5rem;
    }

    .btn {
        width: 35rem;
        font-size: 2.5rem;
        padding: 1rem;
    }

    #progressBar {
        width: 15rem;
        height: 2rem;
        border: 0.2rem solid black;
        margin-top: 2rem;
        border-radius: 50px;
        overflow: hidden;
    }
}

/*Media query for screens of 1200px and down*/
@media screen and (max-width: 1200px) {
    
    #game {
        width: 100%;
    }

    .container {
        width: 65rem;
        margin: 0 auto;
        justify-content: center;
    }

    #hud {
        justify-content: space-between;
    }
    
    .choice-container {
        min-width: 90%;
    }

    .choice-text {
        width: 100%;
    }
    
    h1 {
        font-size: 4.5rem;
    }

    input {
        width: 35rem;
        height: 5.5rem;
    }

    .btn {
        width: 35rem;
        font-size: 3rem;
        padding: 1rem;
    }

    #progressBar {
        width: 18rem;
        height: 2.5rem;
        border: 0.2rem solid black;
        margin-top: 2rem;
        border-radius: 50px;
        overflow: hidden;
    }
}

/*Media query for screens of 700px and down*/
@media screen and (max-width: 700px) {
    
    #game {
        width: 90%;
    }

    input {
        width: 20rem;
        height: 5rem;
    }

    .container {
        width: 35rem;
        margin: 0 auto;
        justify-content: center;
    }

    #hud {
        justify-content: space-between;
    }
    
    .choice-container {
        min-width: 100%;
    }

    .choice-text {
        width: 50%;
    }
    
    h1 {
        font-size: 2.5rem;
    }

    .btn {
        width: 20rem;
        font-size: 2rem;
        padding: 1rem;
    }

    #progressBar {
        width: 12rem;
        height: 2rem;
        border: 0.2rem solid black;
        margin-top: 2rem;
        border-radius: 50px;
        overflow: hidden;
    }
}


/*Media query for screens of 400px and down*/
@media screen and (max-width: 400px) {
    
    #game {
        width: 95%;
    }

    .container {
        width: 30rem;
        margin: 0 auto;
    }

    #hud {
        justify-content: space-between;
    }

    #title {
        font-size: 3rem;
    }
    
    .choice-container {
        min-width: 100%;
    }

    .choice-text {
        width: 80%;
    }

    input {
        width: 18rem;
        height: 4.5rem;
    }
    
    h1 {
        font-size: 2.5rem;
    }

    .btn {
        width: 18rem;
        font-size: 2rem;
        padding: 1rem;
    }

    #progressBar {
        width: 10rem;
        height: 2rem;
        border: 0.2rem solid black;
        margin-top: 2rem;
        border-radius: 50px;
        overflow: hidden;
    }

    #timer {
        font-size: 2rem;
    }
}


